PORT=3000
FRONTEND_ORIGIN=https://goonfx.com
DERIV_CLIENT_ID=YOUR_DERIV_OAUTH_CLIENT_ID
DERIV_CLIENT_SECRET=YOUR_DERIV_OAUTH_CLIENT_SECRET
DERIV_APP_ID=YOUR_DERIV_APP_ID
DERIV_REDIRECT_URI=https://goonfx.com/callback.html
