PORT=8080
FRONTEND_ORIGIN=https://goonfx.com
DERIV_CLIENT_ID=34b2ctEChXoL5t579q8pB
DERIV_CLIENT_SECRET=
DERIV_REDIRECT_URI=https://goonfx.com/callback.html
DERIV_APP_ID=34b2ctEChXoL5t579q8pB
SESSION_SECRET=replace-with-a-long-random-secret
